.host-event-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    text-align: left;
    width: 100%;
  }
  
  .host-event-button img {
    width: 100%;
    height: auto;
  }
  
  .host-event-button p {
    margin: 5px 0;
  }
  