#acepted_invitations_shadow {
    height: 33vw;
    box-shadow: -4px 6px 13px -1px rgba(166, 166, 166, 0.222);
    border-radius: 30px;
    padding-right: 1vw;
    position: absolute;
    top: 100%;
    width: 25%;
    margin-right: 17%;
    background-color: #fff;
    right: -2%;
    z-index: 50;
    transition: all 0.3s ease;
}

#acepted_invitations_shadow::before {
    content: '';
    position: absolute;
    top: -20px;
    left: 90%;
    transform: translateX(-50%);
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 30px solid #fff;
}

#acepted_invitations_div {
    margin-left: 1vw;
    margin-top: 2vw;
}

#acepted_invitation_text {
    display: flex;
    flex-direction: column;
    width: 20vw;
    margin-top: 2%;
    margin-left: 10%;
}

#acepted_invitation {
    display: flex;
    margin-top: 2vw;
}

#acepted_invitations_tittles {
    margin-left: 5%;
    justify-content: flex-start;
}

#img_acc {
    width: 50px;
}

.bold-text {
    font-weight: bold;
    font-size: 16px;
}

#no_accepted_inv_acc {
    margin-left: 7%;
}


@media (max-width: 768px) {
  
    #acepted_invitations_shadow {
        position: fixed; 
        top: 10%; 
        left: 50%; /* Centra el modal horizontalmente */
        transform: translateX(-50%); /* Alineación exacta en el centro */
        width: 90vw; /* Ancho mayor en pantallas pequeñas */
        height: 70vw; /* Altura adaptable */
        border-radius: 25px; /* Bordes redondeados */
        padding: 10vw; 
        background-color: #fff; 
        box-shadow: -4px 6px 13px -1px rgba(166, 166, 166, 0.288); 
        z-index: 1000; 
    }

 
    #acepted_invitations_tittles {
        font-size: larger;
        text-align: center;
    }

    #acepted_invitation_text {
        width: 80vw; 
        margin-left: 10%;
        margin-bottom: 8vw;
    }

    #acepted_invitation {
        flex-direction: column;
    }

    #img_acc {
        width: 25vw; 
        height: auto; 
    }

    .bold-text {
        font-size: 14px; 
    }

    #no_accepted_inv_acc {
        font-size: 18px;
        text-align: center;
        color: rgb(136, 136, 136);
    }

   
    #acepted_invitations_div {
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }

    #text_accepted_p {
        font-size: 15px;
    }
}
