.shopping-cart {
    width: 20vw;
    padding: 20px;
    margin-top: 5vh;
}

#h2-consumption  {
    font-size: 18px;
    font-weight: bold;
    color: #0E0D35;
}

.cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    margin-top: 2vh;
    border: 1px solid #0e0d351d;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px 5px 10px 20px;
    height: 80px;
    background-color: white;
    border-radius: 30px;
}

.cart-item img {
    height: 7vh;
    margin-right: 2vw;
    border-radius: 4px;
    object-fit: cover;
}

.cart-item-details {
    flex: 1;
}

.cart-item-details p {
    margin: 0;
    font-size: 15px;
    color: #0E0D35;
}

.cart-item-details p:nth-child(2) {
    color: #0E0D35;
}

.btn-remove p {
    font-weight: 500;
    color: #00B78C;
}

.cart-item button {
    background-color: #FF5959;
    color: white;
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-item button img {
    height: 1.5vh;
    object-fit: contain;
    margin-left: 30px;
}

.cart-item button:hover {
    background-color: #E04B4B;
}

.btn-remove {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    margin-right: 2vw;
}

.total-section {
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.total-section h2 {
    font-size: 20px;
    color: #0E0D35;
    font-weight: bold;
    margin-bottom: 1vh;
}

.total-section button {
    background-color: #D2CFFF;
    color: #0E0D35;
    padding: 10px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    width: 120px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.img-total{
    width: 20px;
    margin-right: 10px;
    object-fit: cover;
}

.total-section button:hover {
    background-color: #c6c2fd;
}

@media (max-width: 360px) {
    .shopping-cart {
        width: 90vw;
        padding: 15px;
        border-radius: 30px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
        text-align: left;
    }

    .h2-consumption {
        font-size: 18px;
        font-weight: bold;
        color: #0E0D35;
        margin-bottom: 4vh;
        margin-top: 2vh;
        text-align: left;
    }

    .cart-item {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        margin-top: 2vh;
        border-bottom: 1px solid #ddd;
        padding-bottom: 20px;
    }

    .cart-item img {
        width: 40px;
        height: 40px;
        margin-right: 40px;
        margin-left: 20px;
        border-radius: 4px;
        object-fit: cover;
    }

    .cart-item-details p {
        margin: 0;
        font-size: 14px;
        color: #0E0D35;
    }

    .cart-item button {
        background-color: #FF5959;
        color: white;
        border: none;
        width: 30px;
        height: 30px;
        border-radius: 30px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin-right: 8vw;
    }

    .cart-item button img {
        width: 10px;
        height: 10px;
        object-fit: contain;
        justify-content: center;
        align-items: center;
        margin: 40%;
    }

    .btn-remove {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-right: 5px;
    }


    .btn-remove p {
        color: #00B78C;
    }

    .total-section {
        display: flex;
        flex-direction: row; 
        justify-content: space-between;
        align-items: center;
        margin-top: 4vh;
        margin-left: 10vw;
        margin-right: 10vw;
    }

    .total-section h2 {
        font-size: 20px;
        font-weight: bold;
        color: #0E0D35;
        margin-left: 5px;
    }

    .total-section button {
        background-color: #D2CFFF;
        padding: 8px;
        border: none;
        border-radius: 20px;
        cursor: pointer;
        font-size: 14px;
        width: 100px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}