.filters {
    display: flex;
    flex-direction: column;
    gap: 1vh; 
    padding: 1rem 2rem;
    margin-bottom: 1rem;
    margin-left: 7vw;
}

.CardsFilters {
    display: flex; 
    flex-wrap: wrap; 
    gap: 0.5vw; 
}

.filterbtn {
    padding: 0.5rem 1rem;
    border: 1px solid #00B78C;
    border-radius: 5px;
    color: #00B78C;
    background-color: #fff;
    font-weight: bold;
    cursor: pointer;
}

.filterbtn:hover {
    background-color: #00B78C;
    color: #fff;
}

.filterbtn.active {
    background-color: #00B78C;
    color: #fff;
}
