.theRegisterBtn{
    text-decoration: none;
    font-family: "Poppins", system-ui;
    font-style: normal;
    font-weight: bold;
    color: #0E0D35;
    background-color: #D2CFFF;
    border-style: none;
    width: 70%;
    font-size: 20px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-radius: 0.7em;
}

.theRegisterBtn:hover{
    background-color: #b8b5e7;
    color: #0E0D35;
cursor: pointer;
}

.theRegisterBtn:active{
    background-color: #0E0D35;
    color: #D2CFFF;
}

@media (max-width: 899px){
    .theRegisterBtn{
        text-decoration: none;
        font-family: "Poppins", system-ui;
        font-style: normal;
        font-weight: bold;
        color: #0E0D35;
        background-color: #D2CFFF;
        border-style: none;
        width: 85%;
        font-size: 20px;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        border-radius: 0.7em;
        margin-top: 2em;
    }

    .theRegisterBtn:hover{
        background-color: #b8b5e7;
        color: #0E0D35;
    cursor: pointer;
    }

    .theRegisterBtn:active{
        background-color: #0E0D35;
        color: #D2CFFF;
    }
}