#button_new_div {
    -webkit-box-shadow: -4px 6px 13px -1px  rgba(103, 101, 101, 0.222);;
    -moz-box-shadow: -4px 6px 13px -1px rgba(103, 101, 101, 0.222);
    box-shadow: -4px 6px 13px -1px rgba(103, 101, 101, 0.222);
    background-color: white;
    padding: 10px;
    margin: 2vw;
    width: 200px;
    height: 200px; 
    position: absolute;
    top: 21%; 
    left: 28.5%; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;  
    border-radius: 30px;
    z-index: 5;
    border: 2px dashed #bbb8b8; 
}

#new_nevent_button {
    border-radius: 50px;  
    width: 5vw;
    height: 5vw;
    font-size: 3vw;
    color: white;
    background-color: #00B78C;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;  
}

@media (max-width: 480px) {
    #button_new_div{
        width: 12vw;
        background-color:#f6f4fc ;
        box-shadow: none;
        border:none;
        margin-top: 130vw;
        position: absolute;
        padding: 1.5vw;
        margin-left: 95vw;
    }
    
    #new_nevent_button {
        width: 20vw;
        height: 20vw;
        font-size: 12vw;
        border-radius: 50%;
        background-color: #00B78C;
        position: fixed; 
        bottom: 5vw; 
        right: 5vw;
        z-index: 1000; 
    }

    #new_event_text{
        display: none;
    }
    
  }

  