#deleted_b {
    background-color: #F24B4B;
    color: #ffffff;
    border: none;
    width: 40px; 
    height: 40px;
    display: flex;
    justify-content: center; 
    
    align-items: center;
    border-radius: 50%; 
    cursor: pointer;
    font-size: 24px; 
    transition: background-color 0.3s ease; 
}
  
  #deleted:hover {
    background-color: #d43f3f; 
  }
  
  #deleted:focus {
    outline: none; 
  }
  
  @media (max-width: 768px) {
    #deleted {
      width: 60px; 
      height: 60px;
      font-size: 28px; 
    }
  }
  