#deleted_but {
  background-color: #F24B4B;
  color: #ffffff;
  border: none;
  height: 40px;
  width: 40px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%; /* Botón redondo */
}

#deleted_but:hover {
  background-color: #d43f3f;
}

#deleted_but:focus {
  outline: none;
}

@media (max-width: 768px) {
  #deleted_but {
    width: 60px;
    height: 60px;
}



}