.register-buttons{
    margin-left: 0.4em;
    background-color: rgba(240, 248, 255, 0);
    color: #a800b7;
    font-weight: bolder;
    border-style: none;
}

.register-buttons:hover{
    color: #ff7f4c;
    background-color: rgba(240, 248, 255, 0);
    cursor: pointer;
}

.register-buttons:active{
    color: #ff7f4c;
}