
#Guest_card{
    border-radius: 20px;
    margin-top: -40vw;
    margin-left: 22vw;
    margin-top: 1vw;
   
}

#event_img{
    width: 20vw;
    height: 9vw;
    border-radius: 10px;
}

.swiper-slide {
    margin: 0;  /* Asegúrate de que el margen de la slide sea 0 */
}

#Guest_events{
    border-color: rgb(73, 182, 71);
    border-width: 1px;
    border-style: solid;
    border-radius: 20px;
    padding: 1vw;
    margin: 2vw;
    width: 14vw;
   
}

#carousel{
    width: 65vw;
    height: auto;
    display: flex;
    flex-direction: row;

}

#Guest_tittle{
    display: flex;
    justify-content: left;
    margin-bottom: -1vw;
    margin-left: 2vw;
}