
.BackBtnEvents {
    display: flex;
    align-items: center;
    gap: 1vw;
    padding: 1vw;
    font-size: 1.2vw;
    padding-top: 18vh;
    margin-bottom: 5vh;
    margin-left: 7vw;
}

.BackBtnEvents button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.BackBtnEvents button img {
    width: 2vw;
    height: auto;
}

.BackBtnEvents p {
    font-size: 1.2vw;
    font-weight: bold;
    color: #0E0D35;
}

@media (max-width: 360px) {
    .BackBtnEvents {
      gap: 4px;
      padding: 8px;
      font-size: 14px;
      margin-top: 5vh;
      margin-bottom: 3vh;
    }
  
    .BackBtnEvents button img {
      width: 16px;
    }
  
    .BackBtnEvents p {
      font-size: 14px;
    }
  }