.create_event_form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px;
    padding: 40px;
    border: 1px solid #ccc;
    border-radius: 30px;
    background-color: #f9f9f9;
    height: 85%;
    width: 55%;
}

button:disabled {
    background-color: #ccc;  
    cursor: not-allowed;  
    color: #777;  
}

#select_id {
   width: 100%;
  }
  
.title_create_event {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.address-container {
    display: flex;
    align-items: center;  
    gap: 10px;  
}

.close-button {
    position: absolute;
    top: 50px;
    left: 1150px;
    border: none;
    color: #333;
    font-size: 20px;
    cursor: pointer;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.left-column, .map_div {
    display: flex;
    flex-direction: column;
    width: 48%;
    gap: 8px; 
}

.left-column label, .map_div label {
    font-family: "Red Hat Display";
    font-weight: bold;
    margin-bottom: 5px;
    color: #00B78C;
}
option {
    background-color: #fff;
    color: #333;
    font-family: "Red Hat Display", sans-serif;
    font-size: 14px;
  }


.left-column input, .left-column select, .left-column textarea,
.map_div input, .map_div textarea {
    padding: 5px;  
    border: 1px solid #ccc;
    border-radius: 10px;
    transition: all 0.3s ease; 
    font-family: "Red Hat Display";
    width: 97%;  
    font-size: 14px;  
    margin-bottom: 5px;  
}

.left-column input:focus, 
.left-column select:focus, 
.left-column textarea:focus,
.map_div input:focus, 
.map_div textarea:focus {
    border-color: #00B78C;  
    outline: none;  
}
.map_div .example {
    font-size: 12px;
    color: #888;
}


#create_event[type="submit"] {
    width: 100%;
    font-weight: 600;
    padding: 15px;
    background-color: #00B78C;
    width: 40%;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 0.9rem;
    transition: background-color 0.3s ease;
    display: block;
    margin: 20px auto;
    font-family: "Red Hat Display";
}

#create_event[type="submit"]:hover {
    background-color: #00B78C;
}

@media (max-width: 768px) {
    .create_event_form {
        flex-direction: column;
        align-items: center;
    }

    .left-column, .map_div {
        width: 100%;
    }
}
