.fund-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 20px;
  padding: 40px;
  border: 1px solid #ccc;
  border-radius: 30px;
  background-color: #f9f9f9;
  width: 55%;
  max-width: 100%;
  min-height: 500px;
  height: auto;
  overflow-y: auto;
}

.fund-form .form-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.fund-form label {
  font-family: "Red Hat Display", sans-serif;
  font-weight: bold;
  color: #00b78c;
}

.fund-form input,
.fund-form textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 14px;
  width: 100%;
  margin-bottom: 15px;
  font-family: "Red Hat Display";
  transition: border-color 0.3s ease;
}

.fund-form input:focus,
.fund-form textarea:focus {
  border-color: #00b78c;
  outline: none;
}

.fund-form button {
  padding: 15px;
  background-color: #00b78c;
  width: 40%;
  color: white;
  border: none;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
  font-size: 0.9rem;
  transition: background-color 0.3s ease;
  margin: 20px auto;
  font-family: "Red Hat Display";
}

.fund-form button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
  color: #777;
}

.fund-form button:hover:not(:disabled) {
  background-color: #007d5a;
}

.fund-form .success-message {
  color: green;
  font-weight: bold;
}

.fund-form .error-message {
  color: red;
  font-weight: bold;
}

@media (max-width: 768px) {
  .fund-form {
    width: 100%;
    padding: 20px;
    min-height: auto;
  }

  .fund-form button {
    width: 100%;
  }
}
