.nav_bar2 {
  background-color: #D2CDFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  position: fixed;
  width: 100%;
  box-shadow: 1px -5px 15px 7px rgba(128, 128, 128, 0.39);
  z-index: 8;
}

.app_name {
  font-family: "Red Hat Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: bolder;
  font-size: 40px;
  color: #0e0d35;
  margin-left: 30px;
  flex-grow: 1;
}

.app_name_responsive{
  display: none;
}

.user-container {
  display: flex;
  align-items: center;
  position: relative; /* Agregado para poder colocar la notificación sobre el botón */
}

#svg_button {
  background-color: transparent;
  border-color: transparent;
  position: relative;
}

.notification-badge {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: red;
  color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  z-index: 10; /* Para asegurarse de que se vea encima del ícono */
}

#profile_img_nav {
  width: 3vw;
  border-radius: 50%;
  object-fit: cover;
  margin-left: 20px;
  
}

#user_name_nav {
  text-decoration: none;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 500;
  color: rgb(49, 49, 49);
  font-size: 1rem;
  text-align: start;
  width: 80px;
  overflow: hidden;
  white-space: nowrap;
}

.nav_bar2 svg {
  width: 32px;
  height: 32px;
  margin-left: 30px;
}
@media screen and (max-width: 768px) {
  .nav_bar2 {
    flex-direction: flex;
    padding: 15px 10px;
    align-items: center;
    top: -9rem;
  
  }

  .app_name_responsive{
    display: block;
    font-size: 40px;
    margin-left: 5%;
    text-align: center;
  }

  .app_name{
    display: none;
  }
  .user-container {
    margin-top: 10px;
    justify-content: center;
    margin-right: 10%;
  }

  #profile_img_nav {
    width: 15vw;
  }

  #user_name_nav {
    width: auto;
    font-size: 1rem;
    margin-top: 5px;
    text-align: start;
  }

  .nav_bar2 svg {
    margin-left: 0;
    margin-top: 10px;
    width: 45px;
    height: 45px;
  }

  .notification-badge {
    width: 22px;
    height: 22px;
    font-size: 13px;
    top: -5px;
    right: -5px;
  }
}
